<div class="m-2">
  <form id="getNumber">
    <label>Type number</label>
    <input type="text" name="value1">
    <button class="btn btn-secondary" onclick="sendNumber()">Submit</button>
  </form>
  <a href="/test">
    <button class="btn btn-secondary">Submit2</button>
  </a>

</div>

<script>
  const webhooksKey = "RcoIikHtwIl4t57PwgMzw"
  function sendNumber() {
    const form = document.querySelector("#getNumber")
    form.action = `https://maker.ifttt.com/trigger/getNumber/with/key/${webhooksKey}`
    form.method = "POST"
    form.submit()
  }
</script>