<div class="m-2">
  <form action="/getNumber" method="post">
    <label>Type Number</label>
    <input type="text" name="value1">
    <button class="btn btn-secondary" type="submit">Submit</button>
  </form>
</div>

<div class="m-2">
  <form action="/openGuestWifi" method="post">
    <label></label>
    <button class="btn btn-secondary" type="submit">Open Guest Wifi</button>
  </form>
</div>

